<ion-view view-title="Test">
  	<ion-content>
  	<!-- <ion-refresher pulling-text="Pull to refresh..." on-refresh="refreshTest()">
  	</ion-refresher>
  	{{test}}
    </ion-content> -->
    
    <div class="row">
	  <div class="col">
	  	<img class="full-image" src="https://upload.wikimedia.org/wikipedia/commons/9/91/F-15_vertical_deploy.jpg">
	  </div>
	  <div class="col">
	  	<img class="full-image" src="https://upload.wikimedia.org/wikipedia/commons/9/91/F-15_vertical_deploy.jpg">
	  </div>
	</div>
    <div class="row">
	  <div class="col">
	  	<img class="full-image" src="https://upload.wikimedia.org/wikipedia/commons/9/91/F-15_vertical_deploy.jpg">
	  </div>
	  <div class="col">
	  	<img class="full-image" src="https://upload.wikimedia.org/wikipedia/commons/9/91/F-15_vertical_deploy.jpg">
	  </div>
	</div>	
</ion-modal-view>